$link: #4787fb;

@import "theme/_main";

// You can add additional styling here
.navbar-item.navbar-logo {
  margin: 0 12px;
}

.product {
  .feature-img {
    padding: 15px;
    background-origin: content-box;
  }
}

@media (min-width: 1050px) {
  .home {
    .floatingHero .feature-title {
      font-size: 4.5rem;
    }
  }
}

.contentTypesStat {
  .statistics-cards {
    justify-content: space-between;
  }

  .statistic {
    flex: 0 0 300px;
    width: 300px;
    margin: 24px 12px;
  }

  .feature-img {
    border-radius: 50%;
    overflow: hidden;
    height: 300px;
    width: 300px;
  }

  .feature-title {
    font-size: 45px;
    margin: 0;
  }

  .feature-description {
    font-size: 24px;
  }
}

@media (max-width: 1250px) {
  .contentTypesStat {
    .statistics-cards {
      justify-content: space-around;
    }

    .statistic {
      flex: 0 0 250px;
      width: 250px;
    }

    .feature-img {
      height: 250px;
      width: 250px;
    }

    .feature-title {
      font-size: 35px;
      margin: 0;
    }

    .feature-description {
      font-size: 20px;
    }
  }
}

@media (max-width: 1050px) {
  .contentTypesStat {
    .statistics-cards {
      justify-content: space-around;
    }

    .statistic {
      flex: 0 0 200px;
      width: 200px;
    }

    .feature-img {
      height: 200px;
      width: 200px;
    }

    .feature-title {
      font-size: 35px;
      margin: 0;
    }

    .feature-description {
      font-size: 20px;
    }
  }
}

.features {
  article.feature {
    border-radius: 4px;
  }
}

/*
About page styling.
 */

.about-data {
  flex-direction: row-reverse;
}

.about_ahrc_logo {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.about_resources .feature-title {
  font-size: 2.5rem;
}

/*
Resources page styling.
 */

.resource-dashboard-container {
  display: flex;
  margin-top: 20px;
  margin-bottom: 100px;
  height: 60vh;
  width: 90vw;
  margin-left: 5vw;
  padding: 10px;
}

.resource-dashboard-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .resource-dashboard-left-title {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .resource-dashboard-left-description {
  }
}

.resource-dashboard-right {
  flex: 1;
}

/*
Home page styling.
 */
.home_video {
  @extend .floatingHero;
  @extend .home;
  @extend .hasWhiteText;

  color: rgba(0, 0, 0, 0.333);
  height: auto;
  min-height: calc(100vh - var(--navbar-height));

  .spacer {
    height: 20px;
  }

  iframe {
    border-radius: 1.3rem;
    width: 90%;
    max-width: 720px;
    height: 405px;
  }
}
